stocktree.insd.dev {
    tls {
        dns cloudflare {$CLOUDFLARE_AUTH_TOKEN}
    }

    @api {
        path /api/*
    }
    reverse_proxy @api http://172.30.1.3:8080 # 백엔드 서버
    reverse_proxy http://172.30.1.2:3000 # 프론트엔드 서버
}

http://stocktree.insd.dev {
    redir https://stocktree.insd.dev{uri}
}

stocktree.insd.dev:8443 {
    tls {
        dns cloudflare {$CLOUDFLARE_AUTH_TOKEN}
    }
    reverse_proxy http://172.30.1.4:8080 # 백엔드 테스트 서버
}